<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>PicTweet</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
      <div th:text="${error}"></div>
    </div>
    <form  th:action="@{/tweets/{tweetId}/update(tweetId=${tweetId})}" th:method="post" th:object="${tweetForm}" enctype="multipart/form-data">
      <input type="text" th:field="*{title}" placeholder="title" />

      <div th:if="${tweetForm.imageUrl}">
        <label>現在の画像</label>
        <img th:src="@{${tweetForm.imageUrl}}" alt="画像" style="max-width: 200px; display: block;" />
        <input type="hidden" th:field="*{imageUrl}" />
      </div>

      <input type="file" th:field="*{imageFile}" />
      <textarea th:field="*{content}" placeholder="content" rows="10"></textarea>
      <input type="submit" value="SEND" />
    </form>
  </div>
</div>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>