<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>PicTweet</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div th:insert="~{header :: header}"></div>

  <div class="contents row">
    <div th:each="tweet : ${tweets}" class="content_post" th:style="'background-image: url(' + (${tweet.imageUrl}) + ');'">
      <h3 th:text="${tweet.title}"></h3>
      <p class="name" th:text="${tweet.content}"></p>
    </div>
  </div>

  <div th:insert="~{footer :: footer}"></div>

</body>
</html>